<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Important Update: Customer Inquiry</title>
</head>
<body style="font-family: Arial, sans-serif;">

  <div style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">

    <h2 style="color: #333;">Important Update: Customer Inquiry</h2>

    <p>Hello {{client_name}},</p>

    <p>We hope this message finds you well. We wanted to inform you that a customer has recently requested further inquiry through our services.</p>

    <p>Details of the inquiry:</p>
    <ul>
      <li><strong>Customer Info:</strong> {{title}}</li>
      <li><strong>Date:</strong>{{date}}</li>
    </ul>

    <p>To review and respond to the inquiry, please follow the link below to access the chatbot conversation:</p>

    <p><a href={{link}} style="text-decoration: none; color: #007BFF;">Chatbot Conversation</a></p>

    <p>If you have any questions or need further assistance, feel free to reach out to us.</p>

    <p>Thank you for your prompt attention to this matter.</p>

    <p>Best regards,<br>
    Infoapto</p>

  </div>

</body>
</html>
